* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;

}

.container {
    width: 100%;
    font-family: inherit;
    padding-bottom: 112px;
    padding-top: 72px;
    background: #f0f2f5;
    min-width: 500px;
}

.loginpage {
    width: 100%;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.descripation-logo {
    width: 100%;
    display: flex;
    padding-left: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 350px;
}

.logo-text {
    width: 100%;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    text-transform: capitalize;
    line-height: 32px;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: #0095ff;
}

.logo-heading {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    padding: 0 0 20px;
    color: #1c1e21;
    text-align: justify;
}

.form-container {
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
}

.form-inner-cotainer {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 0;
    padding: 5% 1% 4% 1%;
    width: 400px
}

#main-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 0%;
}

.form-login-container {
    margin: 1% 0% 1% 0%;

}

.input {
    width: 332px;
    height: auto;
    padding: 3.5%;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.596);
}

input[type=text]:focus {
    border-style: inset;
    border-width: 1px;
    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4;
  }
  input[type=password]:hover {
    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4;
  }
.password {
    margin: 2%;

}

.pass-input {
    width: 332px;
    height: auto;
    padding: 3.5%;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.596);
}
.pass-input:focus{
    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4;
}
.button-container {
    margin: 3% 0% 1% 0%;
}

.button-login {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    color: white;
    font-weight: 600;
}
.button-login:hover{
    background-color: #166fe5;
}
.forget-container {
    margin: 2% 1% 1% 1%
}

.forget-pass {
    color: #1877f2;
    margin: 1%;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}


.hr-line {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
    color: red;
    text-align: center;
    justify-content: center;
}

.new-account-container {
    padding-top: 6px;
}

.new-account {
    border: none;
    border-radius: 6px;
    font-size: 23px;
    line-height: 48px;
    padding: 10px 16px;
    text-decoration: none;
    background-color: #42b72a;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.new-account:hover{
    background-color: #36a420;
    border-color: #36a420;
}

